<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IndianWildlife</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckUser</display-name>
    <servlet-name>CheckUser</servlet-name>
    <servlet-class>CheckUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUser</display-name>
    <servlet-name>SaveUser</servlet-name>
    <servlet-class>SaveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUser</servlet-name>
    <url-pattern>/SaveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProcessAction</display-name>
    <servlet-name>SearchProcessAction</servlet-name>
    <servlet-class>SearchProcessAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProcessAction</servlet-name>
    <url-pattern>/SearchProcessAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAdminActivity</display-name>
    <servlet-name>CheckAdminActivity</servlet-name>
    <servlet-class>CheckAdminActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAdminActivity</servlet-name>
    <url-pattern>/CheckAdminActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserAction</display-name>
    <servlet-name>ManageUserAction</servlet-name>
    <servlet-class>ManageUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserAction</servlet-name>
    <url-pattern>/ManageUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserActivity</display-name>
    <servlet-name>CheckUserActivity</servlet-name>
    <servlet-class>CheckUserActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserActivity</servlet-name>
    <url-pattern>/CheckUserActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseForum</display-name>
    <servlet-name>ChooseForum</servlet-name>
    <servlet-class>ChooseForum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseForum</servlet-name>
    <url-pattern>/ChooseForum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchForumAction</display-name>
    <servlet-name>SearchForumAction</servlet-name>
    <servlet-class>SearchForumAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForumAction</servlet-name>
    <url-pattern>/SearchForumAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTopicAction</display-name>
    <servlet-name>SearchTopicAction</servlet-name>
    <servlet-class>SearchTopicAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTopicAction</servlet-name>
    <url-pattern>/SearchTopicAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseTopicAction</display-name>
    <servlet-name>ChooseTopicAction</servlet-name>
    <servlet-class>ChooseTopicAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseTopicAction</servlet-name>
    <url-pattern>/ChooseTopicAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentAction</display-name>
    <servlet-name>CommentAction</servlet-name>
    <servlet-class>CommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAction</servlet-name>
    <url-pattern>/CommentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitQueryAction</display-name>
    <servlet-name>SubmitQueryAction</servlet-name>
    <servlet-class>SubmitQueryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitQueryAction</servlet-name>
    <url-pattern>/SubmitQueryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTopicAction</display-name>
    <servlet-name>CreateTopicAction</servlet-name>
    <servlet-class>CreateTopicAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTopicAction</servlet-name>
    <url-pattern>/CreateTopicAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserAction</display-name>
    <servlet-name>DeleteUserAction</servlet-name>
    <servlet-class>DeleteUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserAction</servlet-name>
    <url-pattern>/DeleteUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateNewsletterAction</display-name>
    <servlet-name>GenerateNewsletterAction</servlet-name>
    <servlet-class>GenerateNewsletterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateNewsletterAction</servlet-name>
    <url-pattern>/GenerateNewsletterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewNewsletterAction</display-name>
    <servlet-name>ViewNewsletterAction</servlet-name>
    <servlet-class>ViewNewsletterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewNewsletterAction</servlet-name>
    <url-pattern>/ViewNewsletterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadStatisticsAction</display-name>
    <servlet-name>UploadStatisticsAction</servlet-name>
    <servlet-class>UploadStatisticsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStatisticsAction</servlet-name>
    <url-pattern>/UploadStatisticsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileAction</display-name>
    <servlet-name>EditProfileAction</servlet-name>
    <servlet-class>EditProfileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileAction</servlet-name>
    <url-pattern>/EditProfileAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewQueryAction</display-name>
    <servlet-name>ViewQueryAction</servlet-name>
    <servlet-class>ViewQueryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQueryAction</servlet-name>
    <url-pattern>/ViewQueryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyQueryAction</display-name>
    <servlet-name>ReplyQueryAction</servlet-name>
    <servlet-class>ReplyQueryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyQueryAction</servlet-name>
    <url-pattern>/ReplyQueryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReplyAction</display-name>
    <servlet-name>ViewReplyAction</servlet-name>
    <servlet-class>ViewReplyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReplyAction</servlet-name>
    <url-pattern>/ViewReplyAction</url-pattern>
  </servlet-mapping>
</web-app>